#textbox {
    font-family: Monaco, monospace;
    font-size: 1.1rem;
    padding: 0.5rem;
    width: 100%;
}

#output {
    font-family: Monaco, monospace;
}

html {
    font-family: Verdana, sans-serif
}

main, footer {
    margin: 0 auto;
    max-width: 80%;
}
